<div class="container">
	<% if @ideas.present? %>
		<%= render "layouts/shared/ideas", col_size: 4, ideas_by_row: 3 %>
	<% else %>
		<% if user_signed_in? %>
			<p>No existen propuestas publicadas. <%= link_to "Publica la primer propuesta en Walapolis", new_idea_path %></p>
		<% else %>
			<p>No existen propuestas publicadas. <%= link_to "Ingresa para publicar la primer propuesta en Walapolis", new_user_session_path %></p>
		<% end %>
	<% end %>
</div>