<% if notice %>
	<p class="alert alert-success text-center"><%= notice %></p>
<% end %>
<% if alert %>
	<% if alert["class"].blank?%>
		<p class="alert alert-warning text-center"><%= alert %></p>
	<% else %>
		<p class="alert <%= alert["class"] %> text-center"><%= alert["body"] %></p>
	<% end %>
<% end %>
