<% if notice %>
	<div class="alert alert-success text-center"><%= notice %></div>
<% end %>
<% if alert %>
	<% if alert["class"].blank?%>
		<div class="alert alert-warning text-center"><%= alert %></div>
	<% else %>
		<div class="alert <%= alert["class"] %> text-center"><%= alert["body"] %></div>
	<% end %>
<% end %>
